<!-- <p>header works!</p> -->
<nav class="navbar navbar-expand-lg navbar" style="background-color: rgb(245, 231, 231);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/images/bk_dp.png" width="100px" height="60px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movies">Movies</a>
        </li>

        
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
       
         
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">chennai</a></li>
                <li><a class="dropdown-item" href="#">Hyderabad</a></li>
                <li><a class="dropdown-item" href="#">Delhi</a></li>
                <li><a class="dropdown-item" href="#">Mumbai</a></li>
                <li><a class="dropdown-item" href="#">Pune</a></li>
                <li><a class="dropdown-item" href="#">Kolkatta</a></li>
              </ul>
            </button>
        </div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search for Movies,Events,Plays,Sports and Activities" aria-label="Search">
         </form>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" aria-current="page" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/register1">Register1</a>
        </li>
        
       
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link">Welcome User !!!</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
