<div class="container-fluid">
    <h3>Register Using Reactive Forms</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="regForm" class="needs-validation was-validated" novalidate>
    
        <div>
            <label for="name" class="form-label" >Name:</label>&nbsp;
            <input type="text" name="name" id="name" formControlName="name"   placeholder="Enter Name"   required autofocus class="form-control" >
       
            <small *ngIf ="(name.dirty||name.touched)&&name.errors?.['required']" class="invalid-feedback">Name is Required</small>    
        </div>
        &nbsp;

        <div>
        <label for="email" class="form-label" >Email:</label>&nbsp;
        <input type="email" name="email" id="email" formControlName="email" placeholder="Enter email" required class="form-control">
        <div *ngIf="(email.dirty || name.touched ) && email.errors">
        <small *ngIf ="email.errors?.['required']" class="invalid-feedback">Please enter valid email.id</small>
        <small *ngIf="email.errors?.['email']" class="invalid-feedback">Email is not valid </small> 
        </div>
    </div>
    <br/>
        <div>
        <label for="password" class="form-label">Password:</label>&nbsp;
        <input type="password" name="password" id="password" placeholder="enter password" formControlName="password" required class="form-control">
        <div *ngIf="password.dirty && password.errors" class="invalid-feedback">
       <small *ngIf="password.errors?.['required']" class="invalid-feedback">Password is required</small>
       <small *ngIf="password.errors?.['minLength']" class="invalid-feedback">Password is must have minimum 8 characters</small>
       <small *ngIf="password.errors?.['maxLength']" class="invalid-feedback">Password is should not exceed minimum 12 characters</small> 
     </div>
    </div>
        &nbsp;                                            
        <div>
            <button type="submit" [disabled]="!regForm.valid" class="btn btn-success">Submit</button>

            {{regForm.invalid}},-{{regForm.valid}}
        </div>
        
        </form>
    
