
   <sk-page title="Movies">
    
      <!-- <div class="col-3">
        Section 1
    </div>
    
      <div class="col-4">
          Section 2
      </div>
      <div class="col-4">
          Section 3
      </div> -->
   
        <br/>
        <sk-page class="row">
          <div class="card col-3">
             Filter
        <br/>
        <form (ngSubmit)="applyFilter()">
    
          <div>
    <label for ="language">Language:</label>&nbsp;
        <select name="language" [(ngModel)]="language"><br/>
          <option>Tamil</option>
          <option>Hindi</option>
          <option>English</option>    
          <option>Malayalam</option>
          <option>Telugu</option>
        </select>
      </div>
    
      <br/>
      <div>
        <label for ="movieType">MovieType:</label>&nbsp;
            <select name="movieType" [(ngModel)]="movieType">
              <option>Drama</option>
              <option>Comedy</option>
              <option>Sports</option>    
              <option>Horror</option>
              <option>Mystery</option>
            </select>
          </div>
          &nbsp;
    
          <div>
            <label for="price">Price Range:</label>&nbsp;
            <input type="number" name="minPrice" id="minPrice" [(ngModel)]="minPrice" placeholder="Enter minPrice"><br/>
    
          <br/>
            <input type="number" name="maxPrice" id="maxPrice" [(ngModel)]="maxPrice" placeholder="Enter maxPrice"><br/>
            &nbsp;&nbsp;&nbsp;
    
    
          </div>
    
        <button type="submit" class="btn btn-info">Submit</button>&nbsp;
        <button type="reset" class="btn btn-danger" (click)= "reset()">Reset</button>
      </form>
      </div>
    
      <div class="card col-9">
        <div class="row">

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">
                <i class="bi bi house-door-fill"></i>Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/movies"><i class="bi bi-credit-card"></i>Movies</a></li>
            </ol>
          </nav>

          <div title ="Movies">
            <div *ngIf="Loading">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
          </div>

          @for(m of movies;track m){
            <app-movie-card [movie]="m">
    
            </app-movie-card>
          }
        </div>
        </div>
        </div>

      </sk-page>

