<div class="container-fluid">
   <form (ngSubmit)="onSubmit()">
    &nbsp;
    <div>
    <label for="email" >Email:</label>&nbsp;
    <input type="email" name="email" id="email" placeholder="Enter email"  [(ngModel)]="email" required autofocus >
    </div>
<br/>
    <div>
    <label for="password">Password:</label>&nbsp;
    <input type="text" name="password" id="password" placeholder="enter password" [(ngModel)]="password" required autofocus>
    </div>
    &nbsp;
    <div>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
    
    </form>
