
<br/>
<h3>Mode of Payments</h3>
 <form (ngSubmit)="onSubmit()">
<!-- 
 <select class="$input-focus-width;">
        <option selected>Type Of Payments</option>
        <option value="cash">Cash Payment</option>
        <option value="card">Card Payment</option>
        <option value="gpay">Gpay</option>
      </select>  -->
      <!-- <select class="$input-focus-width;"> -->
       <br/>
       <div >
        <img src="assets/images/cash.png">
        <label for="cp">Cash Payment </label>&nbsp;
        <input type="checkbox" name="cash" id="cashpayment" placeholder="Enter CashPayment" [(ngModel)]="cashpayment" required autofocus  >
       
        </div>
       

        <br/>

        <div>
          <img src="assets/images/crd.png" width="120px">&nbsp;&nbsp;&nbsp;
          <label for="cardpayment" >CardPayment:</label>&nbsp;
          <input type="checkbox" name="card" id="cardpayment" placeholder="Enter CardPayment"  [(ngModel)]="cardpayment" required  >
          </div>
          <br/>

        
        <button type="submit" class="btn btn-success">confirmpayment</button>
         &nbsp;<button type="reset" class="btn btn-danger">Reset</button>



        
        
       <!-- </select> -->
       
<!-- <br><br>    

    <div class="card w-50">
        <div class="card-body">
        <h5 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-credit-card" viewBox="0 0 16 16">
       <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 
       1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z" />
       <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
      </svg> Credit / Debit / ATM Card </h5>
        <p class="card-text">Note : With supporting text below as a natural lead-in to additional content.</p>



        <div class="card w-51">
        <div class="card-body">
        <h5 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2
         2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z" />
        <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
         </svg> Card Number</h5>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" name="cardnumber" id="cardnumber"
         class="col-6" placeholder="xxxx xxxx xxxx xxxx" [(ngModel)]="cardnumber">&nbsp;<br>
        <br>
        <label for="validthru">Valid Thru</label><br>
        <input type="number" name="validthru" id="validthru" placeholder="MM / YY "
         [(ngModel)]="expdate"><br><br>


         <label for="cvvnum">CVV</label><br>
         <input type="number" name="cvvnum" id="cvvnum" placeholder="CVV " [(ngModel)]="cvvnum">
         <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        &nbsp;<button type="submit" class="btn btn-success">Confirm Payment</button>
         &nbsp;<button type="reset" class="btn btn-danger">Reset</button>

        </div>
        </div>
        </div>
        </div>   -->
 </form>

