
<div class="container-fluid">
<h1>Movies - {{movie?.title}}</h1>
<!--     
<div class="container-fluid">
<h1>Movies - {{movie?.title}}</h1> -->

<sk-page title="{{movie?.title}}">
        
    <!-- <div class="row">
        <div class="col-4">
            Section 1
        </div>
    
        <div class="col-4">
            Section 2
        </div>
        <div class="col-4">
            Section 3
        </div>
        </div> -->
        <br/>
 
    <div class="row">
        @if(movie){
    <div class="card col-3 movie-card" >
        <img src="{{movie.imgUrl}}" class="card-img-top" alt="">
        <div class="card-body">
        <h4 span class="card-title">{{movie.title}}</h4>
        <span class="badge text-bg-warning">{{ movie.description}}</span> &nbsp; <br/>
        <span class="badge text-bg-primary">{{movie.language}}</span> &nbsp;

        <span class="badge text-bg-success" style="border-radius:10px;">{{movie.language}}</span>
    &nbsp;
    <app-badge color="blue">{{movie.language}}</app-badge>

    <app-badge color="green">
        {{movie.price | currency:'INR'}}
    </app-badge>

        <span class="badge text-bg-success">{{movie.price | currency:'INR'}}</span> &nbsp;&nbsp; 
        &nbsp;<br/><br/>
        <a routerLink= "{{movie.title}}" class="btn btn-info">Book Ticket</a>
       &nbsp; <br/><br/>
        
   <a class="btn btn-danger"(click)="addToCart(movie)">Add To Cart</a> 
     <!-- <a routerLink="/cart" class="btn btn-primary" >Add To Cart</a> -->
        </div>
    </div>
   
}

</div>
<!-- </div> -->
</sk-page>